/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {

}

.editor {

}

.editor .cursor {

}

.editor.is-focused .selection .region {
  background-color: RGBA(100, 110, 100, 0.6);
  color: #fff !important;
  text-shadow: none;
}
